/* Miligram overrides */
a {
    color: #261818;
    text-decoration: none;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: #FF8080;
    border: 0.1rem solid #FF8080;
}

.container {
    margin: 0 auto;
    max-width: 112.0rem;
    padding: 0 2.0rem;
    position: relative;
    width: 100%;
}

.button-wide {
    width: 100%;
    font-size: 1.5rem;
}

.button-disabled {
    cursor: not-allowed;
    background-color: #606c76;
    border-color: #606c76;
    color: #fff;
    outline: 0;
}

legend {
    color: #FF8080;
}

label {
    font-size: 1.5rem;
    margin-bottom: 1.0rem;
}

/* Main */
body {
    font-family: 'Noto Sans JP', sans-serif;
    background: #F7F6EE;
    color: #261818;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1.6;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.main {
    margin: 2.5rem 0;
}

.content {
    padding: 2.0rem;
    background: #FFFFFF;
    border-radius: .4rem;
    /* Thanks Stripe */
    box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
}
.actions a {
    font-weight: bold;
    padding: 0 .4rem;
}
th {
    white-space: nowrap;
}

/* Nav bar */
.top-nav {
    background: #FFFFFF;
    width: 100%;
}

*, *:after, *:before {
    box-sizing: inherit;
}

.top-nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 112.0rem;
    padding: 2.0rem;
    margin: 0 auto 0rem;
}
.top-nav-title a {
    font-size: 2.4rem;
    *color: #261818;
}
.top-nav-title span {
    color: #FF8080;
}

.top-nav-links a {
    margin: 0 .5rem;
}
.top-nav-title a,
.top-nav-links a {
    font-weight: bold;
}

.main-title {
    font-size: 2.2rem;
    letter-spacing: -.08rem;
    line-height: 1.35;
    color: #FF8080;
}

.secondary {
    margin-top: 2.0rem;
}

.bottom-action {
    margin-bottom: 2.0rem;
}

/* View action */
.content .text {
    margin-top: 1.2rem;
}
.related {
    margin-top: 2.0rem;
}

/* Flash messages */
.message {
    padding: 1.0rem;

    background: #FFFFFF;
    color: #FF8080;

    border-color: #FF8080;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2.0rem;
}
.message.hidden {
    display: none;
}
.message.success {
    background: #FFF6A7;
    color: #FF8080;
    border-color: #F2EC58;
}
.message.error {
    background: #FFA7A7;
    color: #FFFFFF;
    border-color: #F25858;
}

/* Paginator */
.paginator {
    text-align: right;
    margin-top: 1.0rem;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 0 1.0rem;
}
.prev,
.next {
    margin: 0 1.0rem;
}
.prev.disabled a,
.next.disabled a {
    cursor: not-allowed;
    color: #606c76;
}
.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: #ffffff;
    color: #261818;
    text-align: center;
}

footer .link {
    margin-top: 2.0rem;
}

footer .copyright {
    margin: 1.1rem 0;
}

footer a {
    margin: 0 .5rem;
}

/* Dashboard */
.dashboard {
    text-align: center;
}

.dashboard h3 {
    color: #FF8080;
}

.dashboard .mile {
    font-size: 2.8rem;
    line-height: 1.35;
    font-weight: bold;
}

.dashboard .leader {
    font-size: 2.1rem;
    line-height: 1.35;
    font-weight: bold;
}

.dashboard .mile .note {
    font-size: 1.4rem;
    letter-spacing: -.08rem;
}

/* Error */
.error-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
}

.error-container h2 {
    font-size: 2.2rem;
    letter-spacing: -.08rem;
    line-height: 1.35;
}

.error-container .error {
    margin-bottom: 1.0rem;
}

.error-container a {
    color: #F25858;
}

.error-message {
    color: #F25858;
    margin-bottom: 1.5rem;
}

/* Letter */
.thank-card {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    margin-bottom: 2rem;
}

.user-container {
    display: block;
    align-items: center;
    justify-content: center;
}

.user-image {
    display: inline;
    border-radius: 30px;
}

.user-name {
    margin-left: 1rem;
}

.target-user-container {
    display: block;
    align-items: center;
    justify-content: left;
}

.target-user-image {
    border-radius: 30px;
}

.target-user-name {
    margin-left: 1rem;
}

/* card */
.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
}

.card {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.card_image {
    width: 100%;
    display: block;
}

.card_user_image {
    display: inline;
    border-radius: 20px;
}

.card-to-user {
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: start;
    background: #ffffff;
}

.card-to-user > img {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.card-to-user-name {
    margin-left: 1rem;
}

.card_content {
    line-height: 1.5;
    font-size: 0.9rem;
    padding: 5px 15px 15px 15px;
    background: #FFFFFF;
}

.card_content > p {
    word-wrap: break-word;
}

.card_content > p:first-of-type {
    margin-top: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    height: 4.5rem;
}

.card_content > p:last-of-type {
    margin-bottom: 0;
}

.card_info {
    padding: 15px 15px 22px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #FFFFFF;
    color: #555555;
    font-size: 0.8rem;
    border-bottom: 2px solid #cccccc;
}

.card-from-image {
    border-radius: 20px;
}

.card-from-user-name {
    margin-left: 1rem;
    font-weight: bold;
}

.card_reaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.card_reaction > img {
    margin-left: 2rem;
}

.card_reaction_count {
    font-size: 0.8rem;
    color: #D3D3D3;
    margin-right: 2rem;
}

.card_link {
    color: #64968c;
    text-decoration: none;
}

.card_link:hover {
    text-decoration: underline;
}

.letter-detail-thank {
    background-color: #FFFFFF;
    padding: 15px 15px 30px 15px;
    border-radius: 8px;
}

.letter-detail-thank-fromto {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #FFFFFF;
}

.letter-detail-thank-fromto-image-you {
    border-radius: 20px;
}

.letter-detail-thank-fromto-image-target {
    margin-left: 1rem;
    border-radius: 20px;
}

.letter-detail-thank-fromto-message {
    margin-left: 1.4rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #FFFFFF;
}

.letter-detail-thank-message {
    font-size: 16px;
    margin-top: 1rem;
}

.letter-detail-reaction {
    margin-top: 2rem;
    background-color: #FFFFFF;
    padding: 15px 15px 30px 15px;
    border-radius: 8px;
}

.letter-detail-reaction-title {
    font-size: 8px;
    font-weight: bold;
}

.letter-detail-reaction-icon {
    margin-top: 1rem;
}

.letter-detail-tread {
    margin-top: 2rem;
    background-color: #FFFFFF;
    padding: 15px 15px 30px 15px;
    border-radius: 8px;
}

.letter-detail-tread-title {
    font-size: 8px;
    font-weight: bold;
}

.letter-detail-tread-user-info {
    margin-top: 2rem;
    align-items: center;
    justify-content: start;
    display: flex;
}

.letter-detail-tread-user-info-icon {
    border-radius: 20px;
}

.letter-detail-tread-user-info-name {
    margin-left: 1rem;
    font-size: 10px;
    font-weight: bold;
}

.letter-detail-tread-message {
    margin-top: 2rem;
    font-size: 16px;
}